body {
    width: 100%;
    height: auto;
    margin: 0;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaFztPyIbhxiG-7VYLWmPa2pptNf3HYsAK9PdZDdosTYAWVQOykQ"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.container{
    text-align: left;
    color: white;
    font-size: x-large;
    padding-top: 5%;
    
}


#instruction{
    text-align: left;    
    color: white;
    padding: 0%;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.questions1{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: white;
};