body {
    width: auto;
    height: auto;
    margin: 0;
    background-image: url("https://cdn.hipwallpaper.com/i/82/68/srzLSU.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.container{
    text-align: left;
    color: white;
    font-size: x-large;
    padding-top: 5%;
    
    
}


#instruction{
    text-align: left;    
    color: #f2efc7;
    padding: 0%;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.questions1{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: #f2efc7;
    /* padding: 20px;
    margin: 15%; */
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    width: 50%;
    padding: 10px;
};

#counter{
	text-align: center;
}